:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #ccc5c1;
	background: linear-gradient(
		to bottom,
		#0f1726,
		#0f182a,
		#0f192f,
		#0f1a33,
		#101b37
	);
}

body {
	margin: 0;
	/* display: flex;
	place-items: center; */
	min-width: 320px;
	min-height: 100vh;
}
